<nav class="mb-3 mt-3 ml-1">
  <div class="d-flex flex-row">
    <div
      class="menu-item border border-warning bg-dark p-2"
      style="border-top-left-radius: 10px; border-bottom-left-radius: 10px;"
    >
      <a href="{{ `/` | relURL }}"><span>Home</span> </a>
    </div>
    <div class="menu-item border border-warning bg-dark p-2">
      <a
        href="{{ `/about/` | relURL }}"
        ><span>About</span>
      </a>
    </div>
    <div class="menu-item border border-warning bg-dark p-2"
    style="border-top-right-radius: 10px; border-bottom-right-radius: 10px;">
      <a
        href="{{ `/publications/` | relURL }}"
        ><span>Publications</span>
      </a>
    </div>
  </div>
</nav>
